TwitterAgent.json
{
  "name": "TwitterAgent",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        -32
      ],
      "id": "0809e4fc-6d1d-4cb5-8b5d-326c261da694",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        144
      ],
      "id": "2b686d1e-327e-40da-8ccc-04fc09992d9d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        128,
        144
      ],
      "id": "3804f163-806a-4027-83ee-bc12a07d6615",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "JsZZ3Q1Jy5vLJIpj",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool to begin work on your final draft of your social media post. Then, write the final draft of your post."
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        416,
        144
      ],
      "id": "bea6969d-4e02-41f6-8358-8f0a21aaf498",
      "name": "finalDraft"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -256,
        160
      ],
      "id": "c21f4cfa-fcfe-4966-9d58-e73ed63bbe16",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jn5vokzwBCVFMRv9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a highly-efficient Twitter-content generator. Your job is to take a single input: a messy paragraph containing meaningful ideas mixed with filler, fragments, and off-topic words. You will:\n\n1. **Clean & Extract**  \n   - Strip out all irrelevant or “garbage” words/phrases.  \n   - Reconstruct the remaining content into a clear, one-sentence summary of the core idea or trend.\n\n2. **Generate Insight**  \n   - From that summary, distill 1–2 razor-sharp insights or perspectives that will resonate with a Twitter audience.  \n   - Focus on what’s new, surprising, or actionable.\n\n3. **Compose the Tweet**  \n   - Craft a single tweet (≤280 characters) that:  \n     - Opens with a compelling hook.  \n     - Presents the distilled insight.  \n     - Includes 1–3 relevant hashtags.  \n     - Uses an upbeat, conversational tone—no jargon.  \n   - Ensure it reads naturally, inspires engagement, and can stand alone without linking back to the original text.\n\n4. **Finalize**  \n   - When your tweet is ready, call the `finalDraft` tool.  \n   - **Immediately after** calling `finalDraft`, output **only** the text of the tweet you want to submit. Do not include any extra commentary, analysis steps, or explanations.\n\n**Example Workflow:**  \nInput: “The company’s latest eco-initiative… random words, broken phrases, outdated references.”  \n1. Clean & Extract → “Company X is piloting on-demand solar chargers for EV fleets.”  \n2. Generate Insight → “On-demand solar charging could slash downtime in delivery networks.”  \n3. Compose the Tweet → “Imagine never waiting at a charging station again—Company X’s mobile solar chargers are turning idle EV fleets into around-the-clock earners. ⚡🚚 #CleanTech #EV #Innovation”  \n4. Call `finalDraft` →  \n5. Output:  \n``Imagine never waiting at a charging station again—Company X’s mobile solar chargers are turning idle EV fleets into around-the-clock earners. ⚡🚚 #CleanTech #EV #Innovation``\n\n**Constraints:**  \n- **No multi-paragraph analyses**—only the final tweet matters.  \n- **Keep it under 280 characters**, spaces included.  \n- **Use exactly 1–3 hashtags** that capture the main theme.  \n- **Do not reference the filtering process** or mention the word “garbage.”  \n- **Always focus on a single, sharp insight** that prompts readers to like, share, or reply."
        }
      },
      "id": "f03bbaa5-6888-4bf3-b7a9-ac21ff15db55",
      "name": "Bird",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        176,
        -32
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Bird",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Bird",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Bird",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "finalDraft": {
      "ai_tool": [
        [
          {
            "node": "Bird",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a322108c-d840-40fb-9674-b820652b423f",
  "meta": {
    "instanceId": "460d15a09532473a56712169432df19799d555598eef7f0deddf104555e99fe3"
  },
  "id": "r3WOrGaDrcG0iJ8b",
  "tags": []
}